button
{
  color: white;
  border: white 1px solid;
  background-color: #FF79DA;
  box-shadow: inset -10px -10px 25px 2px #9356DC;
  border-radius: 25px;
  width: 200px;
  line-height: 2.5;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}